/* css reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

p{
  font-size: 2.5vh;
}

*{
  font-family: jost;
}


/* --------------- sections ---------------- */

.giantContainer{
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}
.slideOne{
  scroll-snap-align: start;
}
.sectionZero{
  background-color: black;
  height: 5vh;
}
.sectionOne {
  background-color: black;
  color: white;
  height: 90vh;
}
.sectionOneBottom{
  background-color: black;
  color: white;
  height: 5vh;
}
.sectionTwo {
  background-color:black;
  height: 100vh;
  scroll-snap-align: start;
}
.offWhite{
    background-color: rgb(224, 229, 232);
}
.sectionThree {
  background-color: black;
  color: white;
  height: 100vh;
  padding-top: 18vh;
  scroll-snap-align: start;
}
.sectionFour {
  background-color: rgb(224, 229, 232);
  height: 100vh;
  scroll-snap-align: start;
}




/* ------------- top page stuff -------------- */



.headLinks{
  color: white;
}
.headLinks:hover{
  color: rgb(184, 206, 160);
}
#simonOliver {
  font-family: jockey one;
  font-size: 6vw;
}

#softwareDeveloper {
  color: rgb(184, 206, 160);
  font-size: 2.85vw;
}
.animate__animated.animate__fadeIn{
  --animate-duration: 1.5s;

}
.animate__animated.animate__bounceInRight{
  --animate-duration: 1.8s;
}
.myIcons {
  gap: 15px;
  padding: 10px 10px;
  font-size: 12pt;
  background-color: black;
  color: white;
}


.arrows{
  color: white;
}
.arrows:hover{
  color: rgb(184, 206, 160);
}

.welcomeAbode {
  font-size: 3.2vw;
  font-weight: 500;
  padding: 20px;
}

#abodeImage {
  width: 14vw;
  padding: 20px;
}
#abodeText{
  font-size: 1.4vw;
  padding: 20px;
}

.navBar{
  margin-bottom: -16px;
  background-color: rgb(184, 206, 160);
  width: 50%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.navLinks{
  color: black;
  text-decoration: none;
  font-size: 1.6vw;
}
.navLinks:hover{
  color: white;
}

/* -------------- projects section -------------- */

#projectHead{
  font-size: 3vw;
  margin-bottom: 10vh;
}

.projectLinks{
  color: rgb(184, 206, 160);
  text-decoration: none;
}
.projectLinks:hover{

  color: white;
}


/* ----------- about me section -------------- */

#simonPhoto{
  width: 90%;
}
#niceToMeet{
  margin-bottom: 2vh;

}
.scrollable{
  height: 55vh;
  overflow-y: scroll;
}

.bioLinks{
  text-decoration: none;
}


/* ------------ MEDIUM AND SMALL SCREENS ----------- */
/* -------------------------------------------------- */

@media (max-width:750px)  {


  #simonOliver {
    font-family: jockey one;
    font-size: 10vw;
  }
  
  #softwareDeveloper {
    font-size: 4.8vw;
  }

  .welcomeAbode {
    font-size: 10vw;
  }
  #abodeImage {
    width: 54vw;
    padding: 10px;
  }
  #abodeText{
    font-size: 5.4vw;
    padding: 20px;
  }

  .navBar{
    margin-bottom: -1vh;
    background-color: rgb(184, 206, 160);
    width: 60%;
    display: flex;
    gap: 5vw;
    justify-content: center;
  }
  
  .navLinks{
    color: black;
    text-decoration: none;
    font-size: 4.6vw;
  }
  #niceToMeet{
    margin-bottom: 1vh;
    margin-top: 2vh;
  }

  #simonPhoto{
    width: 100%;

  }
  #niceToMeet{
    margin-bottom: 2vh;
  
  }
  .scrollable{
    height: 40vh;
    overflow-y: scroll;
  }

}


/*--------------- JUST MEDIUM ---------------- */
@media (max-width:992px)  {
  .welcomeAbode {
    font-size: 8vw;
  }
  #abodeImage {
    width: 44vw;
    padding: 10px;
  }
  .navLinks{
    color: black;
    text-decoration: none;
    font-size: 3.3vw;
  }
}




@media (max-width: 1024px) {
  #projectHead{
    font-size: 5vw;
    margin-bottom: 2vh;
  }
  .sectionThree{
    padding-top: 12vh;
  }
  #carouselActions {
      display: none;
  }
}
@media (min-width: 1025px) {
  #carouselMobile {
      display: none;
  }
}